.card-container {
  width: 600px;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 48%;
  margin: 2%;
}

.card-container img {
  width: 100%;
}

.card-description {
  width: 48%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.card-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-controls button {
  margin: 10px;
}
