body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notes-container {
  width: 100%;
  border-style: solid;
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.notes-image {
  width: 20%;
  margin: 2%;
}

.notes-image img {
  width: 100%;
}

.notes-description {
  width: 48%;
  margin: 2%;
}
