.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  border: 2px solid hsla(180, 2%, 12%, 0.5);
  transition: border-color 0.3s ease-out;
  overflow: hidden;
}
.card-container:target, .card-container:hover, .card-container:focus, .card-container:focus-visible, .card-container:active{
  border-color: hsla(130, 97%, 24%, 0.5);
} 
.card-content {
  display: flex;
  gap: 0.5rem;
}
.card-image-container{
  width: 48%;
  /* border-radius: 0.125rem; */
  overflow: hidden;
}
.card-image {
  width: 100%;
  /* border-radius: 0.125rem; */
}

.card-description {
  padding-right: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 52%;
}
.card-description-title{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: left;
}
.card-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-controls{
  display: flex;
  gap: 0.5rem;
}
.card-btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background: none;
  border: none;
  overflow: hidden;
}
.card-btn::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(0deg, #5ccdf080 0.1rem, transparent 0.7rem);
  transition: width 0.4s ease-in-out;
}
.btn-danger::after{
  background-image: linear-gradient(0deg, #ee1c2780 0.1rem, transparent 0.7rem);
}
.card-btn:target::after, .card-btn:hover::after, .card-btn:focus::after, .card-btn:focus-visible::after, .card-btn:active::after{
  width: 100%;
}
.card-icon{
  width: auto;
  height: 1rem;
}

@media (min-width: 768px){
  .card-container{
    width: 47%;
  }
}
@media (min-width: 1024px){
  .card-container{
    width: 31%;
  }
}