.footer {
    padding-top: 3rem;
}

.footer-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 2px solid var(--main-border-selected);
    font-size: 0.8rem;
}

.footer-link {
    color: var(--main-color);
    font-weight: 600;
}