.btn-chat-open {
  z-index: 10;
  position: fixed;
  width: 7rem;
  height: 7rem;
  right: 1rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d1e1e;
  background-color: #9acddd;
  border: 1px solid #1d1e1e;
  border-radius: 5px;
}

.btn-chat-image {
  width: 4rem;
}

.gemini-container {
  z-index: 10;
  position: fixed;
  width: 83%;
  right: 1rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #1d1e1e;
  background-color: #9acddd;
  border: 1px solid #1d1e1e;
  border-radius: 5px;
}

.gemini-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.gemini-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
}

.gemini-close-button {
  width: 2rem;
  background: none;
  border: none;
}

.gemini-response {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.gemini-question {
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
  background: transparent;
  border: 2px solid hsla(130, 97%, 24%, 0.5);
  border-top: none;
}

.gemini-question:hover,
.gemini-question:target,
.gemini-question:focus,
.gemini-question:focus-visible,
.gemini-question:target {
  outline: 2px solid hsla(130, 97%, 24%, 0.5);
}

.gemini-close-button {
  font-size: 1rem;
}

body.active-modal {
  overflow-y: hidden;
}
