.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  height: fit-content;
  border-bottom: 2px solid var(--main-border-selected);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.logo-container a {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo-title {
  padding: 0 0.25rem;
  width: fit-content;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-color);
  background-image: var(--main-linear-gradient);
}

.menu-container{
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.nav-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  border: none;
  overflow: hidden;
}

.nav-btn-accent {
  border-left: 2px solid var(--main-border-selected);
  border-right: 2px solid var(--main-border-selected);
}

.nav-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-image: var(--main-linear-gradient-2);
  transition: width 0.4s ease-in-out;
}

.nav-btn:target::after,
.nav-btn:hover::after,
.nav-btn:focus::after,
.nav-btn:focus-visible::after,
.nav-btn:active::after {
  width: 100%;
}

.nav-icon {
  height: 1rem;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    padding-right: 1rem;
  }
  .menu-container{
    width: fit-content;
  }
  .nav-container {
    margin-top: 0;
    width: fit-content;
  }
  /* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
  } */

  .nav-btn {
    min-width: 7.25rem;
  }
}