body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

#root {
  width: 100%;
}

.recipe-selected-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.recipe-selected-btn {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}
.container-flex-column-p-1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.instruction-subtitle {
  text-align: center;
  margin-bottom: 1rem;
}
.instruction-list {
  padding: 1rem;
  list-style-position: inside;
  list-style-type: korean-hangul-formal;
}
.instruction-list-item {
  margin: 0.25rem 0;
}
.instruction-list-item::marker {
  /* color: red; */
  font-weight: 700;
}
