h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.recipe-selected-btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.recipe-selected-btn{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
}
.container-flex-column-p-1{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.form-control{
    margin-bottom: 1rem;
}