@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: #d9d6d2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
a{
  width: 100%;
  text-decoration: none;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
button{
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-container{
  padding: 1rem;
}
.card-list-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*


*/
.recipe-selected-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.recipe-selected-btn {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}
.container-flex-column-p-1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.instruction-subtitle {
  text-align: center;
  margin-bottom: 1rem;
}
.instruction-list {
  padding: 1rem;
  list-style-position: inside;
  list-style-type: korean-hangul-formal;
}
.instruction-list-item {
  margin: 0.25rem 0;
}
.instruction-list-item::marker {
  /* color: red; */
  font-weight: 700;
}
